
body{background-color: rgb(231, 236, 249);}
h1{color: rgb(74, 71, 255);}
p{font-size:30px;}
p2{font-size: 30px;}
img{border-radius: 20px;}
h2{color:rgb(129, 37, 241)};

.container{
    display: grid;
    background-color: rgb(255, 0, 242);
    color: aqua;
    
}
.card{background-color: rgb(187, 215, 255);
    display: flex;
width: 18rem;
height: 28rem;
align-items: center;
margin: 20px;
padding: 20px;
flex-direction: column;
justify-content: center;
justify-items: center;

}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-img-top{
    display: flex;
    flex-direction: column;
   justify-items: center;
    align-items: center;
    padding-top: 10px;
}