* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://images.unsplash.com/photo-1590523741831-ab7e8b8f9c7f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGxheWFzfGVufDB8fDB8fHww&w=1000&q=80);
}

h1 {
  color: rgb(144, 0, 255);
  text-shadow: 2px 2px rgba(200, 125, 254, 0.573);
}

header {
  background-color: rgba(104, 68, 246, 0.1882352941);
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .logo {
  background-color: rgba(207, 194, 252, 0.812);
  padding: 20px;
  border-radius: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
header .logo h1 {
  color: rgb(139, 6, 255);
  text-shadow: 3px 3px 6px blueviolet;
  font-family: "dancing script";
  font-size: 40px;
}
header .logo-img {
  border-radius: 40px;
  height: 200px;
}

nav ul {
  background-color: rgba(178, 203, 253, 0.6470588235);
  list-style: none;
  padding: 10px;
  border-radius: 10px;
}
nav ul li {
  background-color: rgba(243, 254, 255, 0.487);
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
}
nav ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  text-shadow: 3px 3px 3px white;
  font-family: "indie flower";
  font-size: 25px;
}
nav ul li a:hover {
  color: rgb(157, 0, 255);
  text-shadow: 2px 2px 4px rgb(92, 92, 171);
  font-size: 30px;
}

@media (min-width: 480px) {
  header {
    background-color: rgba(188, 197, 255, 0.392);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  header {
    background-color: rgba(68, 0, 255, 0.12);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
section {
  background-color: rgba(76, 152, 206, 0.203);
  padding: 5px;
  width: 100%;
}

.container {
  max-width: 100%;
  background-color: rgba(162, 207, 255, 0.121);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  padding: 10px;
}
.container .row {
  width: 100%;
  background-color: rgba(163, 181, 243, 0.3176470588);
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
.container .row .card {
  margin: 5px;
  width: 200px;
  height: 350px;
  border: 10px solid rgba(167, 183, 225, 0.27);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  gap: 10px;
  background-color: rgba(18, 134, 229, 0.3607843137);
}
.container .row .card-img-top {
  height: 50%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .row .card-body {
  height: 50%;
  background-color: rgba(223, 217, 255, 0.3450980392);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgb(34, 34, 34);
  text-shadow: 2px 3px 3px rgb(240, 240, 240);
  font-family: "indie flower";
  font-size: 60px;
}
.container .row .card-body .btn {
  background-color: rgb(72, 212, 255);
  color: white;
  text-shadow: 2px 2px 3px rgb(188, 201, 249);
  font-family: arial;
  font-size: 18px;
  border: 3px solid rgba(45, 99, 156, 0.144);
}

footer {
  background-color: rgba(79, 150, 244, 0.453);
  width: 100%;
  max-height: 6%;
  padding: 5px;
  position: fixed;
  bottom: 0;
  font-size: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer .red {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(176, 215, 231, 0.545);
  border-radius: 15px;
  height: 48px;
  flex-shrink: 0;
  width: 45%;
  padding: 10px;
  gap: 10px;
  margin: 10px;
}
footer .red .icon {
  height: 37px;
}
footer .redes {
  flex-shrink: 0;
  box-sizing: border-box;
  max-height: 50px;
  padding: 5px;
  border-radius: 10px;
  width: 60%;
  background-color: rgba(218, 248, 255, 0.591);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-shadow: 2px 2px 2px white;
  font-family: "borel";
  font-size: 10px;
  font-size: 70%;
}
footer .redes h4 {
  margin-top: 12px;
  font-size: 10px;
}

@media (min-width: 480px) {
  footer {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  footer .red {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(196, 242, 255, 0.554);
    width: 40%;
    height: 70px;
    text-decoration: none;
  }
  footer .red .redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 63%;
    background-color: rgba(204, 239, 244, 0.597);
    font-size: 11px;
    padding: 20px;
    color: black;
    text-shadow: 2px 2px 2px white;
    font-family: "borel";
    font-size: 10px;
  }
  footer .red .redes h4 {
    margin-top: 20px;
    font-size: 15px;
  }
}
.text-home {
  background-color: rgba(132, 156, 243, 0.425);
  padding: 15px;
}
.text-home h2 {
  background-color: rgba(0, 255, 255, 0.4);
}
.text-home p {
  background-color: rgba(0, 170, 255, 0.625);
}

aside {
  background-color: rgba(172, 205, 249, 0.835);
  padding: 10px;
  margin: 10px;
  margin-bottom: 58px;
}
aside .blog {
  margin: 15px;
}

* {
  box-sizing: border-box;
}

.container-pr {
  max-width: 100%;
  background-color: rgba(125, 227, 238, 0.496);
}
.container-pr .row-pr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.container-pr .card-pr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  width: 300px;
  border: 10px solid rgba(167, 208, 225, 0.473);
  background-color: rgba(85, 0, 255, 0.199);
}
.container-pr .card-img-pr {
  height: 40%;
  object-fit: contain;
  margin: 10px;
}
.container-pr .card-img-pr-1 {
  border-radius: 10px;
  height: 80%;
  margin: 10px;
}

.catalogo {
  background-color: "red";
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.catalogo table {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gps {
  width: 200px;
}

@media (min-width: 480px) {
  .vestidos {
    width: 100%;
  }
  .vestidos .container-pr {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
  .vestidos .container-pr .row-pr {
    background-color: rgba(188, 255, 237, 0.392);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .vestidos .container-pr .row-pr .card-pr {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
  }
}

/*# sourceMappingURL=styles.css.map */
