
body{background-color: rgb(231, 236, 249);}
h1{color: rgb(74, 71, 255);}
p{font-size:30px;}
p2{font-size: 30px;}
img{border-radius: 20px;}
h2{color:rgb(129, 37, 241)};

nav{background-color: aquamarine;
color: blueviolet;}

.container{row-gap: 10px;}