*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-image: url(https://fondosmil.com/fondo/24522.jpg);
   background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



$c-blanco: white;
$c-gris:grey;

@mixin structure($padding, $margin) {
   
    padding: $padding;
    margin: $margin;
}

@mixin flexbox($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin letra ($color, $shadow, $estilo, $fontsize){
    color: $color;
    text-shadow: $shadow;
    font-family: $estilo;
    font-size: $fontsize;
}

@mixin caja ($border, $padding, $bgcolor) {
    border: $border;
    padding: $padding;
    background-color: $bgcolor;
}