h1{color: rgb(144, 0, 255);
    text-shadow: 2px 2px rgba(200, 125, 254, 0.573);
}
$color-1:rgb(73, 73, 255);



header{
    background-color: #6844f630;
   padding: 10px;
  gap: 10px;
  @include flexbox(column, center , center);


  
 
    .logo{
        transition: all 4s;
        h1{
            @include letra(rgb(139, 6, 255),3px 3px 6px blueviolet,'dancing script',40px)
        }
        background-color: rgba(207, 194, 252, 0.812);
        padding: 20px;
        border-radius: 20px;
        gap: 10px;
        @include flexbox(column,space-around,center);
        &-img{border-radius: 40px;
          height: 200px;
        }
    }
}

nav{
 
    ul{
        transition: all 5s;
        background-color: #b2cbfda5;
        list-style: none;
      padding: 10px;
      border-radius: 10px;
      
    
       
        li{ background-color: rgba(243, 254, 255, 0.487);
           padding: 8px;
           margin: 10px;
           
            border-radius: 10px;
             

            a{
                @include flexbox(column , center, center);
       
                text-decoration: none;

               @include letra (black,3px 3px 3px white,'indie flower',25px);
                &:hover{
                    color: rgb(157, 0, 255);
                    text-shadow: 2px 2px 4px rgb(92, 92, 171);
                    font-size: 30px;
                }
            }

        }
    }
}

@media(min-width:480px){
    header{background-color: rgba(188, 197, 255, 0.392);
        @include flexbox(row, space-around, center);
   
    }
   
}

@media(min-width:1024px){
    header{background-color: rgba(68, 0, 255, 0.12);
        @include flexbox(row, space-around, center);
    
 
    }
    nav ul {
        @include flexbox(row, center, center);
    }
}